<html>
    <head>
        <title>Yechan's blog</title>
    </head>
    <body>
        <p>Hi there!</p>
        <p>It works!</p>
    </body>
</html>


<html>
        <head>
            <title>Yechan's blog</title>
        </head>
        <body>
            <div>
                <h1><a href="">Yechan's Blog</a></h1>
            </div>

            <div>
                <p>published: 2025.02.09, 21:32</p>
                <h2><a href="">HBase</a></h2>
                <p>Apache HBase는 오픈소스 NoSQL 분산형 빅 데이터 저장소입니다. 이를 통해 페타바이트 규모의 데이터에 엄격하게 일관되고 무작위의 실시간 액세스가 가능합니다. HBase는 크고 산재된 데이터 세트를 처리하는 데 매우 효과적입니다.</p>
            </div>

            <div>
                <p>published: 2025.02.09, 22:43</p>
                <h2><a href="">Django Framework</a></h2>
                <p>Django는 파이썬으로 만들어진 무료 오픈소스 웹 애플리케이션 프레임워크(web application framework)입니다. 쉽고 빠르게 웹사이트를 개발할 수 있도록 돕는 구성요소로 이루어진 웹 프레임워크랍니다.</p>
            </div>
        </body>
</html>
